@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* Navbar */
.buttons{
  width: inherit;
  display: flex;
  justify-content:space-between;
}

/* Containers */
.main-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid green; */
  width: 90vw;
  height: inherit;
}

/* Input */
.myInput {
  /* border: 2px solid black; */
}
.input-button{
  width: 350px;
}

/* Result */
.myResult{
  /* border: 2px solid black; */
}
.main-weather-div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid yellow; */
  height: inherit;
}
.myResult{
  width: 80%;
  display: flex;
  justify-content: center;
}
.weater-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  height: fit-content;
  width: 100%;
}

.weather-show{
  background-color: white;
  margin: 5px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px 0 grey;
}
.weather-report{
  background-color: #1d212a;
  margin: 5px;
  /* min-width: 30%; */
  width: 450px;
  border-radius: 4px;
  box-shadow: 7px 7px  0px #4a576a;
  color:#f5f5f5;
}

.heading-temp{
  /* font-size: 4.5rem; */
  font-size: clamp(2rem, 25vw, 3.5rem); 
  margin: 20px;
  font-weight: bold;
  text-align:center;
}

.temp-info{
  display: flex;
  justify-content: space-around;
  font-size: clamp(1.5rem, 15vw, 2.5rem);
  margin: 20px;
  font-weight: 500;
  text-align:center
}

@media (max-width:520px){
  .weather-report{
    width: 350px;
  }
}